* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}

@font-face {
    font-family: persianRegular;
    src: url("../fonts/Vazirmatn-Regular.woff2") format("woff2");
}
@font-face {
    font-family: persianBold;
    src: url("../fonts/Vazirmatn-Bold.woff2") format("woff2");
}


body {
    font-family: persianRegular,sans-serif;
    background-color: rgba(0, 255, 200, 0.329);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

.input-field {

}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pages {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.pages2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.pages_p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: persianRegular, sans-serif;
    font-size: 3rem;
    font-weight: bolder;
    margin-bottom: 20px;
    color: black;
    padding: 20px;
    border-radius: 8px;
    background-color: rgba(136, 66, 123, 0.6);
    width: 80%;
    /*box-shadow: rgba(0, 0, 0, 0.17) 0 -23px 25px 0 inset, rgba(0, 0, 0, 0.15) 0 -36px 30px 0 inset, rgba(0, 0, 0, 0.1) 0 -79px 40px 0 inset, rgba(0, 0, 0, 0.06) 0 2px 1px, rgba(0, 0, 0, 0.09) 0 4px 2px, rgba(0, 0, 0, 0.09) 0 8px 4px, rgba(0, 0, 0, 0.09) 0 16px 8px, rgba(0, 0, 0, 0.09) 0 32px 16px;*/
    /*text-shadow: 0 13.36px 8.896px rgba(239, 109, 189, 0),0 -2px 1px rgb(255, 255, 255);*/
    /*letter-spacing: 0;*/
}
.pages2_p{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: persianRegular, sans-serif;
    font-size: 3rem;
    font-weight: bolder;
    margin-bottom: 20px;
    color: black;
    padding: 5px;
    border-radius: 8px;
    background-color: rgba(136, 66, 123, 0.6);
    width: 80%;
}

.input-bg {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

}

.input-img {
    width: 300px;
    height: 100px;
    margin-right: 10px;
}

.pages_input {
    direction: ltr;
    color: antiquewhite;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: persianRegular, sans-serif;
    width: 230px;
    height: 50px;
    left: 27px;
    bottom: 14px;
    background-color: transparent;
    border-radius: 30px;
    padding: 22px;
    font-size: 2rem;
    font-weight: bolder;
    outline: none;
    border-inline: none;
    border: none;
    margin: 15px;
    text-align: center;
}
.pages_input::placeholder{
    font-size: 2rem;
    color: rgba(204, 202, 200, 0.5);
    padding-top: 5px;
}

.btn-bg {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

}

.btn-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 70px;
    box-shadow: rgba(0, 0, 0, 0.17) 0 -23px 25px 0 inset, rgba(0, 0, 0, 0.15) 0 -36px 30px 0 inset, rgba(0, 0, 0, 0.1) 0 -79px 40px 0 inset, rgba(0, 0, 0, 0.06) 0 2px 1px, rgba(0, 0, 0, 0.09) 0 4px 2px, rgba(0, 0, 0, 0.09) 0 8px 4px, rgba(0, 0, 0, 0.09) 0 16px 8px, rgba(0, 0, 0, 0.09) 0 32px 16px;
    border-radius: 60px;
    transition: 0.5s;
    transform: translateY(0.25em);
    margin-left: 12px;
}
.btn-bg-edite{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    padding: 5px;
    border-radius: 8px;
    background-color: rgba(136, 66, 123, 0.6);
    width: 90%;
    box-shadow: rgba(0, 0, 0, 0.17) 0 -23px 25px 0 inset, rgba(0, 0, 0, 0.15) 0 -36px 30px 0 inset, rgba(0, 0, 0, 0.1) 0 -79px 40px 0 inset, rgba(0, 0, 0, 0.06) 0 2px 1px, rgba(0, 0, 0, 0.09) 0 4px 2px, rgba(0, 0, 0, 0.09) 0 8px 4px, rgba(0, 0, 0, 0.09) 0 16px 8px, rgba(0, 0, 0, 0.09) 0 32px 16px;
    text-shadow: 0 13.36px 8.896px rgba(239, 109, 189, 0),0 -2px 1px rgb(255, 255, 255);
    letter-spacing: 0;
}
.edite-btn{
    font-size: 1.4rem;
    font-weight: bolder;
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    font-family: persianBold, sans-serif;
    /*font-size: 80px;*/
    color: #000000;
    letter-spacing: 0;
}

.pages_btn {
    position: absolute;
    font-size: 2.2rem;
    font-weight: bolder;
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    font-family: persianBold, sans-serif;
    display: block;
    margin: 11px 0 17px 0;
    /*font-size: 80px;*/
    line-height: 80px;
    color: #1e1c1b;
    text-shadow: 0 13.36px 8.896px #ef6dbd,0 -2px 1px #fff;
    letter-spacing: 0;
    left: 35px;

    /*display: flex;*/
    /*align-items: center;*/
    /*justify-content: center;*/
    /*text-align: center;*/
    /*color: white;*/
    /*border: 1px solid gray;*/
    /*border-radius: 20px;*/
    /*background-color: #f68f1a;*/
    /*margin: 15px 15px 35px 15px;*/
    /*padding: 10px;*/
    /*width: 200px;*/
    /*height: 60px;*/
    /*cursor: pointer;*/
}
.text-shadow{
    color: #1e1c1b;
    text-shadow: 0 13.36px 8.896px #ef6dbd,0 -2px 1px #fff;
    letter-spacing: 0;
    left: 35px;
}

.pages_btn:hover {
    /*background-color: #4B7BC4FF;*/
    color: black;
    font-weight: bolder;
}

.gradient-background {
    background: linear-gradient(249deg, #fef7fb, #f377c1, #f2248e, #fd0d6f, #ef587b, #747173);
    background-size: 360% 360%;
    animation: gradient-animation 15s ease infinite;
}

@keyframes gradient-animation {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}
.select-field{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.gender-field{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.gender-input{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: bolder;
    gap: 10px;
}

.select{
    width: 100px;
    height: 36px;
    font-size: 2rem;
    transition: 0.3s ease;
    border-radius: 8px;
    padding-right: 8px;
    padding-bottom: 8px;
    font-family: persianBold,sans-serif;
    font-weight: bolder;
    border: none;
    outline: none;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0 inset, rgb(253, 0, 194) -3px -3px 6px 1px inset;

}
.option{
    font-family: persianRegular,sans-serif;
    font-size: 2rem;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0 inset, rgb(253, 0, 194) -3px -3px 6px 1px inset;

}

.input-bg-select{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.input-img-select{
    width: 230px;
    height: 100px;
    margin-right: 10px;
}
.pages2_p{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: persianRegular, sans-serif;
    font-size: 2rem;
    font-weight: bolder;
    margin: 20px 0;
    color: black;
    padding: 5px;
    border-radius: 8px;
    background-color: rgba(136, 66, 123, 0.6);
    width: 80%;
    /*box-shadow: rgba(0, 0, 0, 0.17) 0 -23px 25px 0 inset, rgba(0, 0, 0, 0.15) 0 -36px 30px 0 inset, rgba(0, 0, 0, 0.1) 0 -79px 40px 0 inset, rgba(0, 0, 0, 0.06) 0 2px 1px, rgba(0, 0, 0, 0.09) 0 4px 2px, rgba(0, 0, 0, 0.09) 0 8px 4px, rgba(0, 0, 0, 0.09) 0 16px 8px, rgba(0, 0, 0, 0.09) 0 32px 16px;*/
    /*text-shadow: 0 13.36px 8.896px rgba(239, 109, 189, 0),0 -2px 1px rgb(255, 255, 255);*/
    /*letter-spacing: 0;*/
}
.pages_input-select{
    color: antiquewhite;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: persianRegular, sans-serif;
    width: 160px;
    height: 50px;
    left: 27px;
    bottom: 14px;
    background-color: transparent;
    border-radius: 30px;
    padding: 22px;
    font-size: 1.15rem;
    font-weight: bolder;
    outline: none;
    border-inline: none;
    border: none;
    margin: 15px;
}
.pages_input-select::placeholder{
    padding-right: 15px;
    font-size: 1.15rem;
    color: #f09d09;
}
.btn-bg-finished{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}
.btn-img-finished{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 70px;
    box-shadow: rgba(0, 0, 0, 0.17) 0 -23px 25px 0 inset, rgba(0, 0, 0, 0.15) 0 -36px 30px 0 inset, rgba(0, 0, 0, 0.1) 0 -79px 40px 0 inset, rgba(0, 0, 0, 0.06) 0 2px 1px, rgba(0, 0, 0, 0.09) 0 4px 2px, rgba(0, 0, 0, 0.09) 0 8px 4px, rgba(0, 0, 0, 0.09) 0 16px 8px, rgba(0, 0, 0, 0.09) 0 32px 16px;
    border-radius: 60px;
    transition: 0.5s;
    transform: translateY(0.25em);
    margin-left: 12px;
}
.pages_btn-finished{
    position: absolute;
    font-size: 2.2rem;
    font-weight: bolder;
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    font-family: persianBold, sans-serif;
    display: block;
    margin: 22px 0 17px 45px;
    /*font-size: 80px;*/
    line-height: 80px;
    color: #1e1c1b;
    text-shadow: 0 13.36px 8.896px #ef6dbd,0 -2px 1px #fff;
    letter-spacing: 0;
    left: 35px;
}
.end_game{
    background-image: url("../img/bg-3.png");
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.end_game-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2rem;
    font-weight: bolder;
    padding: 10px;
    border-radius: 10px;
    width: 80%;
    background-color: rgba(136, 66, 123, 0.76);
    box-shadow: rgba(0, 0, 0, 0.38) 0 -23px 25px 0 inset, rgba(0, 0, 0, 0.43) 0 -36px 30px 0 inset, rgba(0, 0, 0, 0.38) 0 -79px 40px 0 inset, rgba(0, 0, 0, 0.06) 0 2px 1px, rgba(0, 0, 0, 0.09) 0 4px 2px, rgba(0, 0, 0, 0.09) 0 8px 4px, rgba(0, 0, 0, 0.09) 0 16px 8px, rgba(0, 0, 0, 0.09) 0 32px 16px;
    letter-spacing: 0;
    cursor: pointer;
    color: white;
}
@media screen and (min-width: 512px) {
    .end_game-text{
        width: 512px;
    }
}
.end_game-link{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.45rem;
    color: white;
    font-weight: bolder;
    text-decoration: underline;
    margin: 30px 0 10px 0;
    cursor: pointer;
    background-color: rgba(136, 66, 123, 0.76);
    box-shadow: rgba(0, 0, 0, 0.38) 0 -23px 25px 0 inset, rgba(0, 0, 0, 0.43) 0 -36px 30px 0 inset, rgba(136, 66, 123, 0.76) 0 -79px 40px 0 inset, rgba(0, 0, 0, 0.06) 0 2px 1px, rgba(0, 0, 0, 0.09) 0 4px 2px, rgba(0, 0, 0, 0.09) 0 8px 4px, rgba(0, 0, 0, 0.09) 0 16px 8px, rgba(0, 0, 0, 0.09) 0 32px 16px;
    padding: 10px;
    border-radius: 24px;
}
.link-copy{
    color: white;
    font-size: 2rem;
    font-weight: bolder;
    margin-top: 10px;
    background-color: rgba(136, 66, 123, 0.76);
    box-shadow: rgba(0, 0, 0, 0.38) 0 -23px 25px 0 inset, rgba(0, 0, 0, 0.43) 0 -36px 30px 0 inset, rgba(0, 0, 0, 0.38) 0 -79px 40px 0 inset, rgba(0, 0, 0, 0.06) 0 2px 1px, rgba(0, 0, 0, 0.09) 0 4px 2px, rgba(0, 0, 0, 0.09) 0 8px 4px, rgba(0, 0, 0, 0.09) 0 16px 8px, rgba(0, 0, 0, 0.09) 0 32px 16px;
    padding: 10px;
    border-radius: 24px;
}
.animate-charcter
{
    text-transform: uppercase;
    background-image: linear-gradient(
            -225deg,
            #b75656 0%,
            #934ad0 29%,
            #eebece 67%,
            #ffffff 100%
    );
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 6s linear infinite;
    display: inline-block;
    font-size: 1.4rem;
    font-weight: bolder;
}

@keyframes textclip {
    to {
        background-position: 200% center;
    }
}
.link-style{
    list-style: none;
    text-decoration: none;
    color: black;
    font-size: 2rem;
    text-align: center;
}
.btn-bg-endGame{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}
.btn-img-endGame{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 70px;
    box-shadow: rgba(0, 0, 0, 0.17) 0 -23px 25px 0 inset, rgba(0, 0, 0, 0.15) 0 -36px 30px 0 inset, rgba(0, 0, 0, 0.1) 0 -79px 40px 0 inset, rgba(0, 0, 0, 0.06) 0 2px 1px, rgba(0, 0, 0, 0.09) 0 4px 2px, rgba(0, 0, 0, 0.09) 0 8px 4px, rgba(0, 0, 0, 0.09) 0 16px 8px, rgba(0, 0, 0, 0.09) 0 32px 16px;
    border-radius: 60px;
    transition: 0.5s;
    transform: translateY(0.25em);
    margin-left: 12px;
}
.pages_btn-endGame{
    position: absolute;
    font-size: 2.2rem;
    font-weight: bolder;
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    font-family: persianBold, sans-serif;
    display: block;
    margin: 22px 0 17px 25px;
    /*font-size: 80px;*/
    line-height: 80px;
    color: #1e1c1b;
    text-shadow: 0 13.36px 8.896px #ef6dbd,0 -2px 1px #fff;
    letter-spacing: 0;
    left: 35px;
}
.leaderBoard_btn-endGame{
    position: absolute;
    font-size: 2.2rem;
    font-weight: bolder;
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    font-family: persianBold, sans-serif;
    display: block;
    margin: 18px 0 17px 12px;
    /*font-size: 80px;*/
    line-height: 80px;
    color: #1e1c1b;
    text-shadow: 0 13.36px 8.896px #ef6dbd,0 -2px 1px #fff;
    letter-spacing: 0;
    left: 35px;
}
ul {
    list-style-type: none;
}


.radio-section {
    display: flex;
    align-items: center;
    justify-content: center;
}
h1 {
    margin-bottom: 20px;
}
.radio-item [type="radio"] {
    display: none;
}
.radio-item + .radio-item {
    margin-top: 15px;
}
.radio-item label {
    display: block;
    padding: 5px 30px;
    background:  rgba(136, 66, 123, 0.6);
    border: 2px solid rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    min-width: 130px;
    white-space: nowrap;
    position: relative;
    transition: 0.4s ease-in-out 0s;
}
.radio-item label:after,
.radio-item label:before {
    content: "";
    position: absolute;
    border-radius: 50%;
}
.radio-item label:after {
    height: 19px;
    width: 19px;
    border: 2px solid #FF4400FF;
    left: 20px;
    top: calc(50% - 15px);
}
.radio-item label:before {
    background: #FF4400FF;
    height: 20px;
    width: 20px;
    left: 21px;
    top: calc(50% - 14px);
    transform: scale(5);
    opacity: 0;
    visibility: hidden;
    transition: 0.4s ease-in-out 0s;
}
.radio-item [type="radio"]:checked ~ label {
    border-color: #FF4400FF;
}
.radio-item [type="radio"]:checked ~ label::before {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}

